.cardFront {
  background-image: url("../../../public/bg-card-front.png");
  height: 250px;
  width: 450px;
  background-repeat: no-repeat;
  object-fit: cover;
  color: white;
  left: 10%;
  top: 16%;
  position: absolute;
  .cardDetails {
    padding: 2rem;

    .name {
      font-size: 2.1rem;
      font-weight: 400;
      letter-spacing: 0.042rem;
      margin-top: 3.2rem;
      margin-bottom: 0.4rem;
    }

    .cardInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2.5px;
      }
    }
  }
}

.cardBack {
  background-image: url("../../../public/bg-card-back.png");
  height: 245px;
  border-radius: 10px;
  width: 447px;
  background-repeat: no-repeat;
  object-fit: cover;
  position: absolute;
  top: 54%;
  left: 18%;
  box-shadow: 8px 8px 60px rgb(148, 148, 148);

  p {
    text-align: end;
    padding-right: 3.4rem;
    padding-top: 5.9rem;
    color: white;
  }
}
