@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

$primary-red: hsl(0, 100%, 66%);
$white: white;
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);
$gradient-start: hsl(249, 99%, 64%);
$gradient-end: hsl(278, 94%, 30%);

.main {
  display: flex;
  padding: 2rem 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;

  @include mobile() {
    display: grid;
    padding: 2rem 1rem;
    justify-content: center;
    place-content: center;
    width: fit-content;
  }
}
